*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*HEADER*/

header{
    display: flex;
    justify-content: center;
    height: 60px;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    z-index: 1000;
    top: 0;
    position: sticky;
    background-color: white;
    
}

header .logo{
    width: 20%;
    
}

header .logo img{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 9px;
}






header .nav{
    width: 60%;
    
    text-align: center;
    
    
}

header .nav ul{
    margin-top: 15px;
}

header .nav ul a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 18px;
    
    
}

header .nav ul a:hover{
    color: rgb(232, 155, 0);
}






header .søg{
    width: 20%;
    
    display: flex;
    justify-content: right;
    
    
}


header .søg .in-søg{
    margin: 10px;
}

header .søg img{
    
    width:35px;
    height: 35px;
   
}











/*HEADER SLUT*/



.topsection{
    height: 1000px;
    background-image: url(images/drinksimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.topsection .top{
    
    font-size: 20px;
    animation-name: test1;
    
    animation-duration: 2s;
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    color: rgb(239, 239, 239);
}

.topsection .top:hover{
    color: rgb(212, 212, 212);
}

.topsection .mid{
    
    font-size: 55px;
    animation-name: test1;
    animation-duration: 6s;
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    color: rgb(232, 155, 0);
    text-align: center;
    
}

.topsection .mid:hover{
    color: rgb(246, 171, 22);
}

.topsection .bottom{
    
    font-size: 20px;
    animation-name: test1;
    animation-duration: 8s;
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    color: rgb(242, 242, 242);
}

.topsection .bottom:hover{
    color: rgb(222, 222, 222);
}


@keyframes fade2{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes test1{
    from {scale: 0;}
    to{scale: 100%}
   
}






.container{
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container div{
    margin: 50px;
    
    text-align: center;
    height: 40px;
    width: 400px;
    color: white;
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    font-size: 12pt;
    margin-top: 130px;
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
}

.container div:hover{
    background-color: rgb(232, 155, 0);
    scale: 104%;
}

.container h1{
    margin-top: 150px;
}

.container a{
    text-decoration: none;
}

.container .right{
    margin-bottom: 150px;
}










/*DRINKSIDE "DRINK1"*/



/*OVERSKRIFT*/

.drink-section{
    height: fit-content;
    background-color: rgb(31, 48, 28);
    
}

.drink-section .heading{
    height: 250px;
    
    
    
    
    
    
}



.drink-section .heading h1{
    margin: 10px;
    margin-top: 70px;
    animation-name: test1;
    animation-duration: 2s;
    font-size: 40px;
    color: white;
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
}

.drink-section .heading h2{
    text-align: center;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    color: white;
    letter-spacing: 2px;
}




@keyframes test1{
    from {scale: 0;}
    to{scale: 100%}
   
}




/*DRINK*/

.drink{
    display: flex;
    
    height: fit-content;
    color: rgb(237, 237, 237);
    margin-top: 100px;
    height: fit-content;
}


#text1{
    margin-top: 230px;
}

#energizer{
    background-color: rgb(26, 26, 26);
}

#energizerbund{
    background-color: rgb(26, 26, 26);
}


#gin{
    background-color: #7d7869;
    
}

#ginbund{
    background-color: #7d7869;
}


#text1gin{
    margin-top: 510px;
}


#bgwhite{
    background-color: rgb(255, 255, 255);
}

#lastchild{
    margin-bottom: 200px;
    flex-direction: row-reverse;
    text-align: right;
    
}

#text2{
    margin-top: 270px;
}


#text1jager{
    margin-top: 380px;
}

#img2{
    margin-left: 70px;
    margin-right: 250px;
}



.midtext{
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    color: white;
    text-align: center;
    padding-top: 110px;
    height: 300px;
}

.midtext h1{
    padding-top: 100px;
}




.drink .img{
    width: 240px;
    
    text-align: center;
    height: fit-content;
    
    margin-left: 250px;
    
    color: rgb(237, 237, 237);
        
}

.drink .img img{
    
    
    height: 100%;
    width: 100%;
    
    animation-name: test1;
    animation-duration: 4s;
    justify-self: center;
    
}



.drink .text{
    width: 600px;
   
    justify-content: left;
    margin-left: 70px;
    height: fit-content;
    margin-top: 180px;
    color: rgb(237, 237, 237);
    
}

.drink .text h1{
    
    
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    
    font-size: 37pt;

}

.drink .text h2{
    font-weight: 100;
    font-size: 13pt;
    font-family: dinosaur, sans-serif;
    

}

.drink .text .knap{
    background-color: rgb(48, 48, 48);
    height: 29px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    
}

.drink .text .knap:hover{
    background-color: rgb(232, 155, 0);
}

.drink .text .knap h3 {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-style: bold;
    font-size: 15pt;
    
    font-size: 13pt;
    font-family: dinosaur, sans-serif;
    
    text-decoration: underline;
    text-decoration-thickness: 0;
    text-decoration-color:rgb(48, 48, 48);
    
    
}

#last{
    margin-bottom: 300px;
}

/*SECTION  SLUT */











/*RATINGS*/

.drink-section .div4{
    display: flex;
    justify-content: center;
    background-color: rgb(31, 48, 28);
    height: fit-content;
    
}

.drink-section .div4 div{
    width: 25%;
    margin: 30px;
    background-color: rgb(234, 234, 234);
    height: 140px;
}



.drink-section .div4 h3{
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    margin-top: 30px;
    margin-left: 30px;
    
}

.drink-section .div4 h4{
    font-weight: 100;
    font-size: 13pt;
    font-family: dinosaur, sans-serif;
    margin-left: 30px;
    
}

















/*FOOTER*/

footer{
    height: 300px;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

footer img{
    padding: 20px;
    padding-top: 40px;
    scale: 80%;
}

footer h4{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: white;
    margin-top: 5px;
}

footer h5{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: white;
    
}




















/*RESPONSIVE*/

/*HEADER*/
@media screen and (min-width:780px){

    header .burgermenu{
        display: none;
    }

}

@media screen and (max-width:780px){
    



    header .søg{
        display: none;
    }

    header .nav ul{
        display: none;
    }

    header .logo img{
       margin-right: 30px;
    }

    header .burgermenu img{
        margin-left: 140px;
        width:50px;
        height: 50px;
    }




    .topsection .top{
        
        max-width: 100%;
    }

    .topsection .bottom{
        
        max-width: 100%;
        
    }



}


@media screen and (max-width:1200px){

    
    
        

        

    
        .drink .img{
            
            
            margin-left: auto;
        }

        .drink .img h1{
            margin-top: 0px;
        }

        #img2{
            margin-right: auto;
        }
    
      



        /*RATINGS*/

        .drink-section .div4{
            flex-direction: column;
            
            
        }

        .drink-section .div4 div{
            place-self: center;
            width: 450px;
        }



      
    }
    





    @media screen and (max-width:900px){
        
        .drink{
            flex-direction: column;
            justify-content: center;
            
        }
        
        .drink .img{
            place-self: center;
            margin: auto;
            
        }
    
        .drink .text{
            place-self: center;
            margin: auto;
            width: auto;
            margin-bottom: 100px;
            text-align: center;
        }
    
        #lastchild{
            text-align: center;
            margin: auto;
            width: auto;
            flex-direction: column;
            
        }

        #img2{
            margin-top: 600px;
            margin: auto;
            place-self: center;
        }

        #text2{
            margin: auto;
            margin-bottom: 300px;
        }

        .midtext{
            margin-bottom: 250px;
        }


        #text1jager{
            margin-top: 80px;
        }
        

        #text1{
            margin-top:80px ;
        }

        #text1gin{
            margin-top: 80px;
        }
    }
