*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*HEADER*/

header{
    display: flex;
    justify-content: center;
    height: 60px;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    z-index: 1000;
    top: 0;
    position: sticky;
    background-color: white;
    
}

header .logo{
    width: 20%;
    
}

header .logo img{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: 9px;
}






header .nav{
    width: 60%;
    
    text-align: center;
    
    
}

header .nav div{
    margin-top: 15px;
}

header .nav div a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 18px;
    
    
}

header .nav div a:hover{
    color: rgb(232, 155, 0);
}






header .søg{
    width: 20%;
    
    display: flex;
    justify-content: right;
    
    
}


header .søg .in-søg{
    margin: 10px;
}

header .søg img{
    
    width:35px;
    height: 35px;
   
}









/*HEADER SLUT*/



/*MOBILMENU NAV*/

.mobilmenu{
    display: flex;
    justify-content: left;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    height: 910px;
    padding: 20px;
    text-align: left;
    padding-top: 600px;
    animation-name: test1;
    animation-duration: 1s;
}

@keyframes test1{
    from {scale: 0;}
    to{scale: 100%}
   
}


.mobilmenu a{
    color: rgb(38, 38, 38);
    text-decoration: none;
    
    
}

.mobilmenu div{
    margin-top: 20px;
}

.mobilmenu div a:hover{
    color: rgb(232, 155, 0);
}

.mobilmenu div hr{
    color: rgb(232, 155, 0);
}



/*MOBILMENU NAV SLUT*/





/*SECTION */

.section{
    display: flex;
    
    height: fit-content;
    
    
    
}




#bgwhite{
    background-color: rgb(255, 255, 255);
}

.section .left{
    width: 240px;
    
    text-align: center;
    height: fit-content;
    margin-top: 170px;
    margin-left: 350px;
    position:static;
        
}

.section .left img{
    
    
    height: 100%;
    width: 100%;
    
    animation-name: test1;
    animation-duration: 4s;
    justify-self: center;
    
}



.section .right{
    width: 450px;
   
    justify-content: left;
    margin-left: 40px;
    height: fit-content;
    margin-top: 350px;
    
}

.section .right h1{
    padding-top: 20px;
    
    font-family: Hiragino Kaku Gothic StdN;
    font-weight: 900;
    font-style: normal;
    color: rgb(31, 31, 31);
    font-size: 37pt;

}

.section .right h2{
    font-weight: 100;
    font-size: 13pt;
    font-family: dinosaur, sans-serif;
    color: rgb(40, 40, 40);

}

.section .right .knap{
    background-color: rgb(48, 48, 48);
    height: 29px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    
}

.section .right .knap:hover{
    background-color: rgb(232, 155, 0);
}

.section .right .knap h3 {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-style: bold;
    font-size: 15pt;
    
    font-size: 13pt;
    font-family: dinosaur, sans-serif;
    
    text-decoration: underline;
    text-decoration-thickness: 0;
    text-decoration-color:rgb(48, 48, 48);
    
    
}

#last{
    margin-bottom: 300px;
}

/*SECTION  SLUT */



/*FOOTER*/

footer{
    height: 300px;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

footer img{
    padding: 20px;
    padding-top: 40px;
    scale: 80%;
}

footer h4{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: white;
    margin-top: 5px;
}

footer h5{
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: white;
    
}


@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes slidein{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*RESPONSIVE*/

/*HEADER*/
@media screen and (min-width:780px){

    header .burgermenu{
        display: none;
    }

 

}

@media screen and (max-width:780px){
    
    header .nav div{
        display: none;
    }


    header .søg{
        display: none;
    }



    header .logo img{
       margin-right: 30px;
    }

    header .burgermenu img{
        margin-left: 140px;
        width:50px;
        height: 50px;
    }

}


@media screen and (max-width:1200px){

/*SECTION1*/

    .section{
        flex-wrap: wrap;
    }

    .section .left{
        justify-self: center;
        margin: auto;
        margin-top: 170px;
        margin-right: 10px;
    }

    .section .right{
        margin: auto;
        margin-top: 350px;
        
    }
}

@media screen and (max-width:680px){
    .section .left{
        justify-self: center;
        margin: auto;
        margin-top: 80px;
    }

    .section .right{
        margin: auto;
        margin-top: 5px;
        text-align: center;
    }

    .section .right .knap{
        margin-left: 120px;
        margin-bottom: 100px;
    }

    #last{
        margin-bottom: 200px;
    }
}




